* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  background-color: black;
  opacity: 0.4;
  width: 100vw;
  height: 55px;
}

.container {
  margin-left: 65px;
  margin-right: 65px;
}

.wave {
  font-family: 'Bubbler One', sans-serif;
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 5px;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 8%;
  margin-bottom: 20px;
}

.carousel {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 39%;
  text-align: center;
  margin-bottom: 36%;
}

img {
  max-width: 200px;
  border: solid black;
  border-width: 1px;
}

ul {
  margin-top: 30px;
  position: relative;
}

li {
  position: absolute;
  opacity: 0;
  list-style-type: none;
}

.showing {
  opacity: 1;
  transition: opacity 1s;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 5%;
  margin-bottom: 2%;
}

input {
  border: solid black;
  border-width: 1px;
}
