.wave {
  font-family: 'Bubbler One', sans-serif;
  color: black;
  letter-spacing: 1px;
}

.artist,
.title,
#search {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.wrapper {
  background-color: rgba(13, 14, 16, 0.1);
  height: 26rem;
  border-radius: 5px;
}

.carousel {
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20rem;
}

#search {
  margin-top: 20px;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

.slide {
  opacity: 0;
  height: 20vh;
  position: absolute;
}

.showing {
  opacity: 1;
  transition: opacity 1s;
  position: absolute;
}

img {
  border: solid black;
  border-width: 1px;
}

.picture {
  width: 250px;
}

table {
  margin-bottom: 40rem;
}

tr {
  font-size: 10px;
}

th {
  font-size: 15px;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.save {
  background-color: #6b7fa0;
  border: solid black;
  border-width: 1px;
}

.add {
  margin-top: 15rem;
  margin-right: 30rem;
}
