.background {
  position: relative;
}

.background::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  background-image: url(https://ak3.picdn.net/shutterstock/videos/12075860/thumb/1.jpg);
  background-size: cover;
  height: 100vw;
  width: 100vw;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

input {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

table {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

hr {
  border: 1px solid white;
}

.hidden-div {
  display: none;
}

.wave {
  margin-top: 1rem;
  font-family: 'Bubbler One', sans-serif;
  color: black;
  letter-spacing: 1px;
}

.playlist-link,
.playlist-link2 {
  color: rgba(14, 33, 76, 0.8);
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.create-link {
  color: rgba(14, 33, 76, 0.8);
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.login-wrapper {
  margin-top: 1rem;
  background-color: rgba(10, 30, 67, 0.4);
  border: solid rgba(1, 8, 21, 0.1);
  border-width: 1px;
  border-radius: 5px;
  height: 15rem;
}

.login-prompt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1rem;
  color: rgba(217, 223, 237, 0.9);
}

.check-playlist-prompt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1rem;
  color: rgba(0, 4, 12, 0.7);
}

.input {
  margin-top: 1rem;
}

.go {
  color: white;
  margin-top: 1rem;
  background-color: rgba(177, 187, 210, 0.9);
  border: solid rgba(1, 8, 21, 0.1);
  border-width: 1px;
  box-shadow: 2px 1px 1px rgba(5, 24, 56, 0.2);
}

.artist,
.title,
#search {
  color: rgba(1, 8, 21, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.playlist-wrapper {
  background-color: rgba(10, 30, 67, 0.4);
  height: 26rem;
  border: solid rgba(1, 8, 21, 0.1);
  border-width: 1px;
  border-radius: 5px;
}

.tracks-wrapper {
  background-color: rgba(10, 30, 67, 0.4);
  height: 26rem;
  border: solid rgba(1, 8, 21, 0.1);
  border-width: 1px;
  border-radius: 5px;
  overflow: auto;
}

.community-wrapper {
  background-color: rgba(10, 30, 67, 0.4);
  height: 52rem;
  border: solid rgba(1, 8, 21, 0.1);
  border-width: 1px;
  border-radius: 5px;
  overflow: auto;
}

.carousel {
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20rem;
}

#search {
  margin-top: 20px;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  text-align: center;
}

.slide {
  opacity: 0;
  height: 20vh;
  position: absolute;
}

.showing {
  opacity: 1;
  transition: opacity 1s;
  position: absolute;
}

img {
  border: solid rgba(1, 8, 21, 0.5);
  border-width: 1px;
  box-shadow: 4px 2px 2px rgba(1, 8, 21, 0.2);
}

.picture {
  width: 250px;
}

table {
  margin-top: 1rem;
  border: solid rgba(5, 24, 56, 0.3);
  border-width: 2px;
}

tr {
  font-size: 10px;
}

th {
  font-size: 15px;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.save {
  background-color: rgba(103, 123, 159, 1);
  border: solid rgba(1, 8, 21, 0.1);
  border-width: 1px;
  box-shadow: 2px 1px 1px rgba(5, 24, 56, 0.2);
}

.add {
  margin-top: 14rem;
  margin-right: 30rem;
}

.delete {
  font-size: 20px;
  line-height: 0;
  color: red;
  cursor: pointer;
  margin-top: 8px;
}

.delete:focus {
  outline: 0;
}
