* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: Black;
  opacity: 0.4;
  width: 100vw;
  height: 55px;
}

.container {
  margin-left: 65px;
  margin-right: 65px;
}

.wave {
  font-family: 'Bubbler One', sans-serif;
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 5px;
}
