* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141518;
}

header {
  position: fixed;
  top: 0;
  background-color: black;
  opacity: 0.4;
  width: 100vw;
  height: 55px;
}

.container {
  margin-left: 65px;
  margin-right: 65px;
}

.wave {
  font-family: 'Bubbler One', sans-serif;
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 5px;
}

h2 {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 8%;
  margin-bottom: 20px;
}

.carousel {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: grey;
  letter-spacing: 1px;
  margin-left: 39%;
  text-align: center;
  margin-bottom: 36%;
}

img {
  max-width: 200px;
  border: solid #fff;
  border-width: 1px;
}

ul {
  margin-top: 30px;
  position: relative;
}

li {
  list-style-type: none;
}

.slide {
  opacity: 0;
  position: absolute;
}

.showing {
  opacity: 1;
  transition: opacity 1s;
  position: absolute;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.thumbnail {
  width: 85px;
  display: inline-block;
  float: left;
}

.wrapper {
  width: 190px;
  height: 30px;
  border: solid black;
  border-width: 5px;
  background-color: #2c2f34;
}

input {
  border: solid black;
  border-width: 1px;
  margin-left: 10px;
  transform: translateY(50%);
}

input[type="text"],
textarea {
  background-color: #191919;
  color: grey;
}

input:focus {
  color: #36f;
}

button {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #5c69ff;
  border: solid black;
  border-width: 1px;
  transform: translateY(33%);
  padding: 2px;
}

.search-result {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
}

.song-result {
  width: 215px;
  height: 86px;
  background-color: #191919;
  border: solid black;
  border-width: 4px;
}

.song-artist {
  margin-left: 7px;
  display: inline;
}

.song-title {
  margin-left: 7px;
  display: inline-block;
}
